#Ignore bundler config
/.bundle

#Ignore the default SQLite detabase.
/db/*.sqlite3

#Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#Ignore other unneede files.
doc/
*.swp
*~
.project
.DS_Store
.idea

